<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AVC___remake.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <AVC___remake.Properties.Settings>
            <setting name="setting_In_Vmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_In_Vmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_In_Imax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_DC_Vref" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_DC_Vmin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_DC_Vmax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_Out_Vload" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_Out_Imax" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setting_DateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="main_Input_Va" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Input_Vb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Input_Vc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_DC_link" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Freq" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Output_Va" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Output_Vb" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Output_Vc" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Output_Ia" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Output_Ib" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_Output_Ic" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="main_DateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="settings_Reset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="page_num" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Set_second" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Set_minute" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Set_date" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Set_month" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Set_year" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Set_hour" serializeAs="String">
                <value>0</value>
            </setting>
        </AVC___remake.Properties.Settings>
    </userSettings>
</configuration>